@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-taupe/20;
  }
  
  body {
    @apply bg-cream text-charcoal antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

